
.scan-qr-page > .scanner {
    width: 100%;
    height: 100%;
}
.scan-qr-page > .scanner > section {
    overflow: hidden;
    position: static !important;
    padding-top: 0 !important;
} 
.scan-qr-page > .scanner  div {
    box-shadow: #ffffff50 0px 0px 0px 5px inset !important;

}
.scan-qr-page .go-back {
    color: #ffffff50;
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 2rem;
    z-index: 100;
}